html {
  font-family: sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
  height:100%;

}

body {
  margin: 30px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a1a1a;
  text-align: left;
  height: 100%;
  background-color: #fff;
}


#placeholder {
  background: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
}

#point_name {
  text-align: center;

}

#main_content {
  font-size: 15px;
  text-align: left;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.map {
  flex: 1;
  background: #f0f0f0;
}

.info {
  padding: 1rem;
  margin: 0;
}

.info.error {
  color: #fff;
  background: #dc3545;
}

.button-3 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-3:disabled {
  pointer-events: none;
}

.button-3:hover {
  color: #fff;
  background-color: darkgreen;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-3:active {
  box-shadow: none;
  transform: translateY(0);
}





